* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                        url("./img/banner.jpg");
                        background-size: cover;
                        background-position: 0 15%;
                        background-repeat: no-repeat;
    width: 100%;
    min-height: 45vh;
    padding:20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    color:#F7DD16;
    text-shadow: 2px 2px #000000;
}
header img {
    width: 100px;
}
h1 {
    font-size: 2rem;
    flex-grow: 1;
    font-family: 'Graduate', cursive;
}
nav {
    box-sizing: border-box;
    display: flex;
    width:100%;
    min-height: 6vh;
    background-color: #2b2b2b;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;
    font-family: 'Graduate', cursive;
    font-size: 1em;
}
nav a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 5px 15px 5px 15px;
        color: #fff;
        font-family: 'Graduate', cursive;

    }
nav a:visited {
    color:#fff;
}
nav a:hover {
    background-color: #c0ac00;
    text-decoration: none;
    color:#000
}
nav a:active {
    background-color: #ffff5a;
}
#active {
    background-color: #F7DD16;
    text-decoration: none;
    color: #000;
}
main {
    padding: 50px;
}
.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
h2 {
    color:#c0ac00;
    margin:0 0 15px 0;
    font-family: 'Graduate', cursive;
    text-align: center;

}
.agenda {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.26);
    width: 65vw;
}
.caja {
    box-sizing: border-box;
    height: 150px;
    display: flex;
    align-items: center;
}
.caja:hover {
    transition: linear 0.2s;
    transform: scale(1.01,1.01);
}
.evento {
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    height: 98%;
    background-color: rgb(211, 211, 211, 0.404);
    gap: 15px;
    width: 100%;
}
.evento h3 {
    color:#2b2b2b;
    font-size: 1.7rem;
    margin:10px 0 10px 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Graduate', cursive;
}
.evento p {
    margin:15px 0 10px 0;
    flex-grow: 10;
    font-size: 0.8rem;
    font-weight: bold;
}
.evento img {
    width: 25%;
    object-fit: cover;
}
.bordeIzquierdoImpar {
    box-sizing: border-box;
    background-color: #f7dd16;
    width: 5px;
    height: 98%;
}
.bordeIzquierdoPar {
     box-sizing: border-box;
    background-color: #2b2b2b;
    width: 5px;
    height: 98%;
}
.evento:hover {
    filter: grayscale(1);
    background-color: #5454542d;
}
.caja:hover {
    transition: linear 0.2s;
    transform: scale(1.01,1.01);
}
p {
    margin:0 0 20px 0 ;
}
dt{
    font-weight: bold;
    margin:25px 0 15px 0;
    font-family: 'Graduate', cursive;
}
dd ol li {
    margin:0 0 15px 0;
}
ol li strong {
    font-family: 'Graduate', cursive;
}
li {
    list-style-position: inside;
    margin:5px 0 0 0;
}
li::marker {
    font-weight: bold;
}
dd ol li ol li {
    margin:5px 0 0 0;
}
#dt_margen_corto {
    margin:0 0 5px 0;
}
.listaEnMinusculas {
    list-style-type:lower-latin;
}
.listaMargenCorto {
    margin-left:1rem
}
.listaMargenLargo {
    margin-left: 2rem;
}
.listaAbout {
    margin:25px 0 5px 0;
}
.fontMonserrat {
    font-family: 'Montserrat', sans-serif;
}
.contenedorAbout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat' sans-serif;
}
/* Personalizacion de la tabla */
table {
    width: 80vw;
    margin:10px 0 0 0;
}
table th {
    background-color: #2b2b2b;
    height: 45px;
    color:#fff
}
table td {
    text-align: center;
    height: 35px;
    background-color: #00000023;
    padding:5px
}
table td a {
    color:#2b2b2b;
    text-decoration: none;
}
table td a:hover {
    color:red
}
#contenedorBold {
    font-weight: bold;
}
.boxBlack {
    width: 80vw;
    background-color: #545454;
    color:#fff;
    padding: 20px;
    margin:30px 0 0 0;
}
.boxBlack strong {
    color:#f7dd16
}
.contenedorRow {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin:30px 0 0 0;
    gap: 1.5vw;
}
.mapBox {
    margin:0 0 5px 0;
    width: 520px;
    height: 400px;
    padding:20px;
    background-color:#f7dd16;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);

}
.mapBox h3 {
    color:#2b2b2b;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Graduate', cursive;
}
.mapBox iframe  {
width: 100%;
height: 100%;
margin:10px 0 0 0;
box-sizing: border-box;
border:none
}
/* Personalización del Formulario */
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    font-size: 1rem;
    width: 60%;
}
fieldset {
    border:none;
    background-color:#2b2b2b;
    color:#fff;
    padding:30px;
    margin:0 0 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
legend {
    background-color: #F7DD16;
    color:#2b2b2b;
    padding: 5px;
    font-weight: bold;
}
input {
    box-sizing: border-box;
    padding:5px;
    margin:0 20px 20px 0;
    width: 100%;
}
input:focus {
    border: #f7dd16 solid;
    outline: 0 none;
}
form p {
    margin:0;
}
.pMarginTop {
    margin:20px 0 0 0;
}
.pMarginButtom {
    margin:0 0 20px 0;
}
/* LA PERSONALIZACION DE LABEL DEL RADIO Y DEL CHECKBOX LAS TOMÉ DE https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* Personalización del label de radio */
.customRadio {
    position: relative;
    padding: 0 0 0 25px;
    margin: 10px 20px 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Se oculta el botón de radio predeterminado*/
.customRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Crea el botón radio personalizado */
.radioSelect {
    position: absolute;
    top: 6px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}
/* Cuando pasa el cursor el fondo se pone gris */
.customRadio:hover input ~ .radioSelect {
    background-color: #ccc;
}
/* Cuando el boton de radio está marcado se pone de color amarillo*/
.customRadio input:checked ~ .radioSelect {
    background-color: #F7DD16;
}
  
/* Crea el indicador (el círculo interno, que está oculto cuando no está marcado)*/
.radioSelect:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Mostrar el indocador cuando está marcado*/
.customRadio input:checked ~ .radioSelect:after {
    display: block;
}
/* Estilo del indicador (círculo o punto interno)*/
.customRadio .radioSelect:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2b2b2b;
}
/* Personalización del label checkbox*/
.customCheckbox {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    margin:0 15px 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/* Ocultar la casilla de verificación predeterminada del navegador */
  .customCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Custom del checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 18px;
    width:18px;
    background-color: #eee;
}
/* Al pasar el cursor, se pone fondo gris*/
.customCheckbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Fondo amarillo cuando está en checked */
.customCheckbox input:checked ~ .checkmark {
    background-color:#F7DD16;
}
/* Crea la marca de verificación (que está oculta cuando no está marcada)*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Muestra la marca de verificación cuando está marcada */
.customCheckbox input:checked ~ .checkmark:after {
    display: block;
}
/* Estilo de la marca de verificación */
.customCheckbox .checkmark:after {
    left:5.5px;
    top:1px;
    width: 4px;
    height: 10px;
    border: solid #2b2b2b;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
button {
    background-color: #F7DD16;
    color:#2b2b2b;
    padding: 5px;
    width: 200px;
    border: none;
    box-shadow: 2px 2px 5px #000;
    font-weight: bold;
    font-size: 1.1rem;
}
button:hover {
    background-color: #545454;
    color:#F7DD16
}
button:active {
    background-color: #2b2b2b;
}

@media (max-width:768px) {
    header {
        gap:0
    }
    header h1 {
        text-align: center;
    }
    nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    nav a {
        width: 100%;
        justify-content: center;
        padding: 1px 15px 1px 15px;
    }
    form {
        width: 80vw;
    }
}
@media (max-width:425px) {
    header {
        min-height: 1vh;
    }
    header img {
        width: 75px;
    }
    .contenedor {
        width: 100%;
    }
    .evento {
        padding:10px
    }
    .evento img {
        display: none;
    }
    .evento h3 {
        font-size:1.5rem
    }
    .evento p {
        margin:0;
        font-size: 0.7rem;
    }
    .mapBox {
        margin:0 0 25px 0;
        width:600px
    }
    .boxBlack p {
        font-size:0.8rem
    }
    table {
        font-size:0.9rem
    }
    table th {
        padding:2px
    }
}